




<!-- user's post  -->
<h2>Title <%= @post.title %> <br></h2><br>
Post <%= @post.body %>
<br><br>
<%= link_to 'Back' ,root_path%>




<!-- if user logged in   , can like and dislike post otherwise not!-->
<% if current_user %>

<%= link_to 'Like' ,like_post_path(@post) %>
  &nbsp; &nbsp;<%= @post.likes.where(like_status: true).count %>&nbsp; &nbsp;


  <%= link_to 'Unlike' ,dislike_post_path(@post) %>
   &nbsp; &nbsp;<%= @post.likes.where(like_status: false).count %> 
   <br><br>


<!-- only current user can have right to edit his post -->
   <% if (current_user.id == @post.user_id) %>
     <%= link_to 'Edit' , edit_post_path(@post) %>
     <%= link_to  'Delete Post' , post_path(@post)  ,:method=> :delete ,:action=> :destroy,:notice=> 'Successfully deleted'%>
   <%else%>
   <% end %>



<%else%>
<% end %>